<html>
  <style>
    body{ 
      font-size: 15pt;
      font-family: arial;
    }
}
  </style>


<body>
  <h1>Marvel Database</h1>
  <div style="float:left">
  Affiliaton: <select name="anames" form ="selection">
      {% for n in data %}
      <option value="{{n}}">{{n}}</option>
      {% endfor %}
  </select>
  </div>
  <div style="float:left">
  Universe: <select name="unis" form = "selection">
              {% for n in data2 %}
            <option value="{{n}}">{{n}}</option>
              {% endfor %}
            </select>
  </div>
<div style="float:left">
  Power: <select name="powers" form = "selection">
      {% for n in data3 %}
        <option value="{{n}}">{{n}}</option>
      {% endfor %}
      </select>
</div>
<div style="float:left">
 City: <select name="cities" form = "selection">
      {% for n in data4 %}
        <option value="{{n}}">{{n}}</option>
      {% endfor %}
      </select>
</div>
<form method = "GET" action= "another" id ="selection"> 
    <input type="submit" value="Submit">
  </form>
  

<p><a href="another">Go to the other page</a></p>

<form method="POST" action="/add">
<p>Name of new computer scientist: <input type="text" name="name"> <input type="submit" value="Add"></p>
</form>

</body>


</html>
