<html>
  <style>
    body{ 
      font-size: 15pt;
      font-family: arial;
    }
}
  </style>


<body>
  <h1>Marvel Database</h1>
  <div style="float:left">
  Affiliaton: <select id="anames" name="anames" form ="selection">
      {% for n in data %}
      <option value="{{n}}">{{n}}</option>
      {% endfor %}
  </select>
  </div>
  <div style="float:left">
  Universe: <select id = "unis" name="unis" form = "selection">
              {% for n in data2 %}
            <option value="{{n}}">{{n}}</option>
              {% endfor %}
            </select>
  </div>
  <div style="float:left">
  Location: <select id = "city" name="cities" form = "selection">
              {% for n in data3 %}
            <option value="{{n}}">{{n}}</option>
              {% endfor %}
            </select>
  </div>
<form method = "GET" action= "/another" id ="selection"> 
    <input type="submit" value="Submit">
  </form>
  


<form method="POST" action="/add">
<p>Name of new computer scientist: <input type="text" name="name"> <input type="submit" value="Add"></p>
</form>

</body>


</html>
