<html>
  <style>
    body{ 
      font-size: 15pt;
      font-family: arial;
    }
}
  </style>


<body>
  <h1>Marvel Database</h1>
  <div style="float:left">
  Location: <select id = "cities" name="cities" form = "selection">
              {% for n in data %}
            <option value="{{n}}">{{n}}</option>
              {% endfor %}
            </select>
  </div>
<form method = "GET" action= "/another" id ="selection"> 
    <input type="submit" value="Submit">
  </form>
  


<form method="POST" action="/add">
<p>Name of new character: <input type="text" name="name"> <input type="submit" value="Add"></p>
</form>

</body>


</html>
