<html>
<style>
body{ 
  font-size: 15pt;
  font-family: arial;
}
table {
	font-family: arial, sans-serif;
	border-collapse: collapse;
	width: 100%;
	margin-right:20px
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}


</style>

<body>
	{% for n in data %}
	<h1>{{n[0]}}</h1>
	{% endfor %}
<table>
  <tr>
    <th>Alias</th>
    <th>Name</th>
    <th>Appearance Date</th>
    <th>Species</th>
    <th>Universe</th>
    <th>Equipment</th>
  </tr>
  	{% for n in data %}
  	<tr>
    	<td>{{n[0]}}</td>
    	<td>{{n[1]}}</td>
    	<td>{{n[2]}}</td>
    	<td>{{n[3]}}</td>
    	<td>{{n[4]}}</td>
    	<td>{{n[5]}}</td>
    	
  	</tr>
  	{% endfor %}
  </table>
	
</body>
</html>

