<html>
<style>
body{ 
  font-size: 15pt;
  font-family: arial;
}
table {
	font-family: arial, sans-serif;
	border-collapse: collapse;
	width: 70%;
	margin-right:10px
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
table#table1 {
    width: 30%;    
    background-color: #CD5C5C;
}


</style>

<body>
	{% for n in data %}
	<h1>{{n[0]}}</h1>
	{% endfor %}
<table>
  <tr>
    <th>Alias</th>
    <th>Name</th>
    <th>Appearance Date</th>
    <th>Species</th>
    <th>Universe</th>
    <th>Equipment</th>
    <th>Affiliation</th>
  </tr>
  	{% for n in data %}
  	<tr>
    	<td>{{n[0]}}</td>
    	<td>{{n[1]}}</td>
    	<td>{{n[2]}}</td>
    	<td>{{n[3]}}</td>
    	<td>{{n[4]}}</td>
    	<td>{{n[5]}}</td>
    	{%for x in data1%}
    	<td value = "{{x}}">{{x}}</td>
    	{% endfor %}
  	</tr>
  	{% endfor %}
  		
  </table>
  <h2>Suggestions</h2>
  <table id = "table1">
  <tr>
    <th>Alias</th>
  </tr>
  	{% for n in data2 %}
  	<tr>
    	<td><a href='/profile/{{n[0]}}'>{{n[0]}}</a></td>
  	</tr>
  	{% endfor %}
  </table>
	
</body>
</html>

